.parrafo {
    font-family: 'BitcountVariable', sans-serif;
    max-width: 20000px;
    font-size: 30px;
    color: #000000d2;
    line-height: 1.5;
    text-align: justify;
    margin: auto; /* Centra horizontalmente */
    opacity: 0.9;
    padding: 20px;
}

.contenido-principal {
    max-width: 2000px;
    margin: auto; /* Centra horizontalmente */
    text-align: center; /* Centra el texto */
    padding: 20px;
}

.menu-principal {
    list-style: none;
    padding: 10px;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 40px;
    background-color: #6DB8FA;
}

.menu-principal li a {
    font-size: 50px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: 0.3s;
}

.menu-principal li a:hover {
    color: #043158ff;
    text-decoration: underline;

}
.menu-principal li a.activo{
    color: #043158ff;
    text-decoration: underline;
}

img[alt="Logo"] {
    width: 50px;
}

.subtitulo-tabla {
    font-weight: bold;
    font-size: 30px;
}

.tabla {
    width: 100%;
    border-collapse: collapse;
    font-size: 40px;
    
}

.mi-tabla th,
.tabla td {
    font-family: 'BitcountVariable', sans-serif;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 12px;
    font-size: 30px;
    color: #000000d2;
}

.tabla thead {
    background-color: #6DB8FA;
    color: white;
}

.tabla tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tabla tbody tr:hover {
    background-color:#6DB8FA;
}

@font-face {
    font-family: 'FortniteFont';
    src: url('recursos/fortnite.otf') format('opentype');
    
}
@font-face {
    font-family: 'BitcountVariable';
    src: url('recursos/Bitcount/Bitcount-VariableFont_CRSV,ELSH,ELXP,slnt,wght.ttf') format('truetype');
    font-weight: 100 900; /* Rango para variable font */
    font-style: normal;
}


body {
    font-family: 'FortniteFont', sans-serif;
    font-size: 50px;
}


.imagen-principal{
    float: left;
    width: 500px;
    height: 300px;
    margin:20px;
    border: 5px solid #000000d2;
    box-shadow: 5px 5px 15px 
}

.temporada {
    border: 10px solid #000000ff;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-color: #999;
  padding: 40px;
}

.temporada .info {
  font-family: 'FortniteFont', sans-serif;
  font-size: 24px;
  color: black;
  flex: 1;
}

.temporada iframe {
  flex-shrink: 1;
  
}
ul li::marker {
  color: red;
}
ol li::marker {
  color: #6DB8FA;
}